/* .slds-page-header.header.flexipageHeader { */
    .slds-page-header.flexipageHeader { 
        display: none;
    }
    
    .versionRadioDiv {
        position: absolute;
        left: calc( 100% - 31vw );
        top: calc( 100% - 30.5vh );
    }