/* 헤더 영역*/
.header_card {
    display: block;
}

/* 선택된 검색 조건 표시 영역 */
.header_card p {
    position: relative;
    top: -1px;
    left: 40px;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 검색 조건 입력 카드 영역*/
.input_card {
    display: block;
}

/* 검색 결과 카드 영역*/
.result_card {
    display: block;
    overflow: hidden;
}

/*접은 상태 결과 카드 영역*/
.result_card_folded {
    display: block;
    overflow: hidden;
}

/* 검색 결과 영역 헤더영역 위치 조정 */
.slds-m-around_medium {
    position: relative;
    top: -11px;
}

/* 검색 결과 텍스트 크기 및 위치 조정 */
.searchResult {
    position: relative;
    left: 12px;
    top: 4px;
    font-size: 16px;
    font-weight: 700;
}

/* 데이터 총 건수 표시 영역 */
.totalData_p {
    position: relative;
    top: 5px;
    left: 33px;
}

/* 펼치기 버튼 클릭시 데이터 총 건수 표시 영역 */
.totalData_p_folded {
    position: relative;
    top: 5px;
    left: 33px;
}

/* 테이블 크기 및 위치 조정 */
.result_card_folded .loadedHolder {
    max-height: 1000px;
    overflow-y: auto;
    margin: 0 auto;
    width: 97%;
}

.result_card .loadedHolder {
    max-height: 600px;
    overflow-y: auto;
    margin: 0 auto;
    width: 97%;
}

/* 테이블 헤더 상단 고정 */
thead {
    position: sticky;
    top: -1px;
    z-index: 100;
}

/* 검색 영역*/
.searchArea {
    margin-top: -20px;
    margin-left: 20px;
    width: 100%;
    height: 350px;
}

/* 검색영역 내부 3개영역으로 구분하여 배치 */
.inner_searchArea {
    height: 100px;
    padding: 5px;
}

/* 각 검색 조건 영역 구분 */
.section {
    width: 25%;
    float: left;
}

/* 검색영역 제목 */
.section .title {
    margin-right: 9px;
    padding-left: 10px;
    width: 30%;
    transform: translateY(50%);
    font-size: 15px;
    font-weight: 500;
}

/* 검색영역 iuput박스 크기 및 위치 조정*/
.inputValue {
    width: 65%;
    float: left;
}

/* 텍스트가 입력된 inputbox 배경색 변경*/
.inputValue_filled {
    width: 65%;
    float: left;
    --slds-c-input-color-background: rgb(250, 217, 147);
}

/* removedAPI 체크박스 위치 조정*/
.section .selectedCheckbox {
    padding-top: 24px;
    padding-left: 80px;
}

/* SupportedCalls */
.inner_searchArea .sc_title {
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

/* api version 콤보박스 크기 조정 */
.versionCombobox {
    width: 65%;
}

/* api version radio group 위치 조정 */
.versionRadioGroup {
    position: absolute;
    position: re;
    left: calc( 100% - 31vw );
    top: calc( 0% + 43px );
}

/* 관련 오브젝트 콤보박스 위치 조정 */
.associated {
    margin-top: -20px;
    width: 65%;
}

.apiVersionHelp {
    position: absolute;
    left: calc( 100% - 1vw );
    top: calc( 100% - 27px );
    border: 1px solid;
    background: gainsboro;
    border-radius: 50%;
}

.tooltip {
    display: inline-block;
}

.tooltipText {
    display: none;
    position: absolute;
    width: 200px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    color: white;
    background: deeppink;
    opacity: 0.6;
}

.tooltip:hover .tooltipText {
    display: block;
}